name: Update Version Tags

on:
  release:
    types: [published]

permissions: {}

jobs:
  update-tags:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: cssnr/update-version-tags-action@v2
